[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
tk = "*"
openai = "*"
langchain = "*"
requests = "*"
pygetwindow = "*"

[dev-packages]

[requires]
python_version = "3.12"
